:root {
  --mainColor: #0e0e0e;
  --secondaryColor: #000000;
  --acsentColor: #6bc791;
}

body {
  background:
    linear-gradient(45deg, transparent 49%, #1d1d1d 49% 51%, transparent 51%),
    linear-gradient(-45deg, transparent 49%, #1d1d1d 49% 51%, transparent 51%);
  background-size: 3em 3em;
  background-color: var(--mainColor);
  opacity: 1;
  min-height: 100vh;
  font-family: "inter", sans-serif;
}
/* Navbar */
.nav-link.active {
  color: var(--acsentColor) !important;
  font-weight: 600;
}
.navbar-brand {
  font-weight: 700;
}
span {
  color: var(--acsentColor);
}
.nav-dark {
  background: rgba(27, 27, 27, 0.349);
  backdrop-filter: blur(4px);
}
/* End Navbar */

/* Section Hero */
#hero {
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
#hero h1 {
  color: var(--acsentColor);
  font-size: 3.6rem;
}
#hero p {
  color: #777777;
  text-align: justify;
}
.foto1 {
  border-radius: 320px;
  box-shadow:
    0 0 20px var(--acsentColor),
    0 0 40px var(--acsentColor);
  transition: 0.3s ease;
  cursor: pointer;
}
.foto1:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(107, 199, 145, 0.3);
}

/*CTA*/
.btn-custom1 {
  background-color: var(--acsentColor);
  text-align: center;
  color: #ffffff;
  min-width: 150px;
  height: 45px;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 10px;
}

.btn-custom1:hover {
  box-shadow: 0 0 10px rgba(84, 228, 120, 0.8);
}
/* End Section Hero */

/* About */
#about {
  min-height: 200px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.tentang {
  width: 80%;
}

.glass-card {
  width: 1000px;
  position: relative;
  padding: 2rem;
  border-radius: 26px;
  background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(3px);
  border: 1px solid var(--acsentColor);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.42);
}

.glass-card {
  transition: 0.3s ease;
  cursor: pointer;
}

.glass-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(107, 199, 145, 0.3);
}

#about h3 {
  margin-bottom: 28px;
}

#about p {
  text-align: justify;
  font-size: 1.2rem;
}
/* End About */

/* Skill */
#skill {
  min-height: 200px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.glass-card2 {
  width: 500px;
  position: relative;
  padding: 2rem;
  border-radius: 26px;

  background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(3px);

  border: 1px solid var(--acsentColor);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
}

.glass-card2 {
  transition: all 0.3s ease;
  cursor: pointer;
}

.glass-card2:hover {
  transform: translateY(-8px);
  border-color: #6bc791;
  box-shadow:
    0 0 15px rgba(107, 199, 145, 0.4),
    0 0 30px rgba(107, 199, 145, 0.2);
}

.glass-card2:active {
  transform: scale(0.97);
}

#skill h3 {
  margin-bottom: 28px;
  text-align: center;
  color: var(--acsentColor);
  -webkit-text-stroke: 0.3px #ffffff;
}

#skill p {
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 66px 50px; /* vertikal horizontal */
  max-width: 400px;
  margin: auto;
  padding-top: 10px;
}
/* End Skill */

/* Projects */
#projects {
  min-height: 200px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.projek {
  display: inline-block;
  padding: 20px 25px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  background: var(--acsentColor);
  color: white;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.project-card {
  width: 200px;
  height: 300px;
  border: 1px solid var(--acsentColor);
  border-radius: 100px 100px 10px 10px;
  position: relative;
  text-align: center;
  padding-top: 20px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(3px);
}

.project-card {
  transition: 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(107, 199, 145, 0.3);
}

.project-circle img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid var(--acsentColor);
}

.project-card h3 {
  color: white;
  font-size: 1rem;
  margin-top: 20px;
}

.detail-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 20px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  border: 1px solid var(--acsentColor);
  background: rgba(107, 199, 145, 0.15);
  box-shadow:
    0 0 10px rgba(107, 199, 145, 0.5),
    0 0 20px rgba(107, 199, 145, 0.3);
  transition: 0.3s;
}

.detail-btn:hover {
  color: var(--acsentColor);
  transform: translateY(-3px);
}
/* End Projects */

/* Footer */
#akhir {
  min-height: 200px;
  color: #ffffff;
  padding-top: 20px;
  border-top: 1px solid var(--acsentColor);
  background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(2px);
}

#akhir h2 {
  padding-top: 20px;
}

#akhir p {
  font-size: 1.2rem;
  margin-bottom: 1px;
}

#akhir .kanan {
  padding-top: 20px;
  font-size: 1.2rem;
  margin-bottom: 1px;
}

#akhir h4 {
  font-size: 2rem;
  padding-top: 35px;
}

footer {
  background-color: #000;
  color: #777777;
}

footer p {
  margin-bottom: 3px;
}
/* End Footer */
